<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <meta name="_csrf_header" th:content="${_csrf.headerName}">
      <meta name="_csrf" th:content="${_csrf.token}">
      <link rel="icon" type="image/png" href="img/fav.png">
      <title>매치등록</title>
      <!-- Slick Slider -->
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css"/>
      <!-- Feather Icon-->
      <link href="vendor/icons/feather.css" rel="stylesheet" type="text/css">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="css/style.css" rel="stylesheet">
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="js/insertMatchBoard.js"></script>
      <script src="js/navBar.js"></script>
   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand navbar-dark bg-dark osahan-nav-top p-0">
         <div class="container" >
            <a class="navbar-brand mr-2" href="/matchBoard"><img src="img/logo.svg" alt="">
            </a>
            <ul class="navbar-nav ml-auto d-flex align-items-center">

               <a class="nav-link" href="/insertMatchBoard"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">매치등록</span></a>
               <a class="nav-link" href="/matchBoard"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">매치검색</span></a>
               <a class="nav-link" href="listClubAll3.html"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">동호회검색</span></a>
               <a class="nav-link" href="/insertClub"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">동호회생성</span></a>
               <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
                  <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <img class="img-profile rounded-circle" src="img/p13.png">
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow-sm">
                     <div class="p-3 d-flex align-items-center">
                        <div class="dropdown-list-image mr-3">
                           <img class="rounded-circle" src="img/user.png" alt="">
                           <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                           <div class="text-truncate" id="loginnickname"></div>
                           <div class="small text-gray-500" id="loginid" ></div>

                        </div>
                     </div>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="edit-profile.html"><i class="feather-edit mr-1"></i> 프로필 변경</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/logout"><i class="feather-log-out mr-1"></i> Logout</a>
                  </div>
               </li>

            </ul>
         </div>
      </nav>
      <div class="py-4">
         <div class="container">
            <div class="row">
               <!-- Main Content -->
               <main class="col col-xl-8 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                  <div class="border rounded bg-white mb-3">
                     <div class="box-title border-bottom p-3">
                        <h3 class="m-0 font-weight-normal">매치등록</h3>
                     </div>
                     <div class="box-body p-3">
                        <form class="js-validate" novalidate="novalidate">

                           <!-- Input 경기일자 -->
                           <label class="form-label font-weight-bold">
                              경기일자
                              <span class="text-danger">*</span>
                           </label>

                           <div class="row">
                              <!-- Input 날짜 -->
                              <div class="col-md-6 mb-3 mb-sm-6">
                                 <div class="js-form-message">
                                    <div class="form-group">
                                       <input type="date" id="mbDate" class="form-control">
                                    </div>
                                 </div>
                              </div>
                              <!-- End Input 날짜 -->
                              <!-- input 시간 -->
                              <div class="col-sm-4 col-md-2 mb-3 mb-sm-6">
                                 <div class="js-form-message">
                                    <div class="form-group">
                                       <select class="form-control custom-select" id="mbTime_hh">
                                          <option th:each="hour:${#numbers.sequence(0,24)}" th:text="${hour}+'시'", th:value="${hour}"></option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <!-- End Input 시간 -->
                              <!-- Input 분 -->
                              <div class="col-sm-4 col-md-2 mb-3 mb-sm-6">
                                 <div class="js-form-message">
                                    <div class="form-group">
                                       <select class="form-control custom-select" id="mbTime_mm">
                                          <option th:each="min:${#numbers.sequence(0,30,30)}" th:text="${min}+'분'" th:value="${min}"></option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <!-- End Input 분-->
                           </div>
                           <!-- End Input 경기일자-->

                           <!-- Input 종목 -->
                           <div class="row">
                              <div class="col-sm-6 mb-2">
                                 <div class="js-form-message">
                                    <label class="form-label font-weight-bold">
                                       종목 선택
                                       <span class="text-danger">*</span>
                                    </label>
                                    <div class="form-group">
                                       <select class="custom-select" id="mbType">
                                          <option value="축구" selected="">축구</option>
                                          <option value="풋살">풋살</option>
                                          <option value="농구">농구</option>
                                          <option value="족구">족구</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- End Input 종목 -->

                           <!-- Input 지역 -->
                           <div class="row">
                              <div class="col-sm-6 mb-2">
                                 <div class="js-form-message">
                                    <label class="form-label font-weight-bold">
                                       지역 선택
                                       <span class="text-danger">*</span>
                                    </label>
                                    <div class="form-group">
                                       <select class="custom-select" id="mbLoc1">
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-6 mb-2">
                                 <div class="js-form-message">
                                    <label class="form-label font-weight-bold">
                                       세부지역 선택
                                       <span class="text-danger">*</span>
                                    </label>
                                    <div class="form-group">
                                       <select class="custom-select" id="mbLoc2">

                                       </select>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- End Input 지역 -->

                           <!-- Input 인원수선택 -->
                           <div class="row">
                              <div class="col-sm-6 mb-2">
                                 <div class="js-form-message">
                                    <label class="form-label font-weight-bold">
                                       경기인원
                                       <span class="text-danger">*</span>
                                    </label>
                                    <div class="form-group">
                                       <select class="custom-select">
                                          <option th:each="players:${#numbers.sequence(1,15)}" th:text="${players}" th:value="${players}"></option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <!-- End Input 인원수선택 -->

                              <!-- input 인원지정 -->
                              <div class="col-sm-6 mb-2">
                                 <div class="js-form-message">
                                    <label class="form-label">
                                       &nbsp;
                                       <span class="text-danger"></span>
                                    </label>
                                    <div class="form-group">
                                       <button type="button" class="btn btn-primary pl-4 pr-4 font-weight-bolder" data-toggle="modal" data-target="#memberPopup" id="selectMember"> 인원선택 </button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- End Input 인원지정 -->

                           <!-- Modal 인원지정 -->
                           <div class="modal fade" id="memberPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <h5 class="font-weight-bold" id="myModalLabel"> 참여인원선택 </h5>
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body" >
                                       <div class="row" id="memberList">
                                         <!-- 동적으로 삽입 -->
                                       </div>
                                    </div>
                                    <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal" id="saveMatchMember">저장</button>
                                       <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- End Modal 인원지정 -->

                           <div class="row">
                              <!-- input 경기장 -->
                              <div class="col-sm-6 mb-2">
                                 <div class="js-form-message">
                                    <label class="form-label font-weight-bold">
                                       경기장
                                       <span class="text-danger"> </span>
                                    </label>
                                    <div class="form-group">
                                       <input type="text" id="mbStadium" class="form-control">
                                    </div>
                                 </div>
                              </div>
                              <!-- End input 경기장 -->
                              <!-- input 참가비 -->
                              <div class="col-sm-6 mb-2">
                                 <div class="js-form-message">
                                    <label class="form-label font-weight-bold">
                                       참가비
                                       <span class="text-danger">*</span>
                                    </label>
                                    <div class="form-group">
                                       <input type="number" id="mbFee" class="form-control">
                                       <small class="form-text text-muted"> ex) 인당 10000원 </small>
                                    </div>
                                 </div>
                              </div>
                              <!-- End input 참가비 -->
                           </div>

                           <div class="row">
                              <!-- input 유니폼색상 -->
                              <div class="col-sm-6 mb-2">
                                 <div class="js-form-message">
                                    <label class="form-label font-weight-bold">
                                       유니폼색상
                                       <span class="text-danger">*</span>
                                    </label>
                                    <div class="form-group">
                                       <input type="text" id="homeUcolor" class="form-control">
                                    </div>
                                 </div>
                              </div>
                              <!-- End input 유니폼색상 -->
                              <!-- input 실력 -->
                              <div class="col-sm-6 mb-2">
                                 <div class="js-form-message">
                                    <label class="form-label font-weight-bold">
                                       실력
                                       <span class="text-danger">*</span>
                                    </label>
                                    <div class="form-group">
                                       <input type="text" id="homeLevel" class="form-control">
                                       <small class="form-text text-muted"> ex) 상 중 하 </small>
                                    </div>
                                 </div>
                              </div>
                              <!-- End input 실력 -->
                           </div>

                           <div class="row">
                              <!-- input 하고싶은말 -->
                              <div class="col-sm-12 mb-2">
                                 <div class="js-form-message">
                                    <label id="nameLabel" class="form-label font-weight-bold">
                                       하고싶은말
                                       <span class="text-danger">*</span>
                                    </label>
                                    <div class="form-group">
                                       <textarea class="form-control" id="homeSay" rows="5"></textarea>
                                    </div>
                                 </div>
                              </div>
                              <!-- End input 하고싶은말 -->
                           </div>
                        </form>
                     </div>
                  </div>
                  <div class="mb-3 text-right">
                     <a class="font-weight-bold btn btn-link rounded p-3" id="cancel"> &nbsp;&nbsp;&nbsp;&nbsp; 취소 &nbsp;&nbsp;&nbsp;&nbsp; </a>
                     <a class="font-weight-bold btn btn-primary rounded p-3" id="insertMatch"> &nbsp;&nbsp;&nbsp;&nbsp;  등록 &nbsp;&nbsp;&nbsp;&nbsp; </a>
                  </div>
               </main>
               <!-- End Main contents-->
               <aside class="col col-xl-2 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
               </aside>
               <aside class="col col-xl-2 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
               </aside>
            </div>
         </div>
      </div>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- slick Slider JS-->
      <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="js/osahan.js"></script>
   </body>
</html>
