<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link rel="icon" type="image/png" href="img/fav.png">
    <title> 매치 보드 </title>
    <!-- Calendar style for this template -->
    <link rel="stylesheet" href="css/calendar.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css"/>
    <!-- Feather Icon-->
    <link href="vendor/icons/feather.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <!-- jquery script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/navBar.js"></script>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand navbar-dark bg-dark osahan-nav-top p-0">
    <div class="container" >
        <a class="navbar-brand mr-2" href="index.html"><img src="img/logo.svg" alt="">
        </a>
        <ul class="navbar-nav ml-auto d-flex align-items-center">

            <a class="nav-link" href="/insertMatchBoard"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">매치등록</span></a>
            <a class="nav-link" href="/matchBoard"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">매치검색</span></a>
            <a class="nav-link" href="listClubAll3.html"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">동호회검색</span></a>
            <a class="nav-link" href="/insertClub"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">동호회생성</span></a>
            <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
                <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-profile rounded-circle" src="img/p13.png">
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                    <div class="p-3 d-flex align-items-center">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/user.png" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate" id="loginnickname"></div>
                            <div class="small text-gray-500" id="loginid" ></div>

                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="edit-profile.html"><i class="feather-edit mr-1"></i> 프로필 변경</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout"><i class="feather-log-out mr-1"></i> Logout</a>
                </div>
            </li>

        </ul>
    </div>
</nav>
<div class="py-4">
    <div class="row">
        <main class="col order-xl-2 col-lg-6 order-lg-1 col-md-6 col-sm-6 col-12">
            <div class="border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h3 class="m-0 font-weight-normal">매치검색</h3>
                </div>
                <div class="box-body p-3">
                    <!-- 검색조건  -->
                    <div class="row">
                        <!-- 달력 -->
                        <div class="col-sm-6 mb-3 mb-sm-6" id="calendarContainer">

                        </div>

                        <div class="col-sm-6 mb-sm-3 pl-5">
                            <!-- 종목 선택 -->
                            <div data-role="fieldcontain" >
                                <fieldset data-role="control-group" data-type="horizontal">
                                    <legend>종목을 선택하세요 </legend>
                                    <input type="radio" name="mbType" id="typeAll" value="all"/><label for="typeAll">전체</label>&nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="mbType" id="soccer" value="축구"/><label for="soccer">축구</label>&nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="mbType" id="footVolleyball" value="족구" /><label for="footVolleyball">족구</label>&nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="mbType" id="futsal" value="풋살" /><label for="futsal">풋살</label>&nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="mbType" id="basketball" value="농구" /><label for="basketball">농구</label>
                                </fieldset>
                            </div>
                            <!-- End 종목 선택 -->
                            <hr><br><br>
                            <!-- 지역 선택 -->
                            <div>
                                <legend> 지역을 선택하세요  </legend>
                                <label>시/도</label>
                                <select style="width:100px;" class="custom-select" id="mbLoc1">
                                </select>
                                &nbsp;&nbsp;&nbsp;
                                <label>시/군/구</label>
                                <select style="width:100px;" class="custom-select" id="mbLoc2">
                                    <option value=null>전체</option>
                                </select>
                            </div>
                            <!-- End 지역 선택 -->
                            <hr><br><br>
                            <!-- 매치상태 선택 -->
                            <fieldset data-role="control-group" data-type="horizontal">
                                <legend>매치 상태를 선택하세요 </legend>
                                <input type="checkbox" name="mbStat" id="wait" value="대기"/><label for="wait">대기 중인 매치</label>&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="mbStat" id="matched" value="성사" /><label for="matched">성사된 매치</label>&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="mbStat" id="end" value="종료" /><label for="end">종료된 매치</label>&nbsp;&nbsp;&nbsp;
                            </fieldset>
                            <!-- End 매치상태 선택 -->
                            <hr>
                            <div class="d-flex">
                                <button class="btn btn-primary ml-auto" id="insertMatch">매치 등록</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 검색된 매치 목록 -->

            <div class="border rounded bg-white mb-3">
                <div id="matchContainer">
                    <!-- flex-->
                </div>
                <!-- End 페이지 설정 -->

            </div>
        </main>

        <aside class="col col-xl-3 order-xl-1 col-lg-3 order-lg-2 col-md-3 col-sm-3 col-12">
        </aside>
        <aside class="col col-xl-3 order-xl-3 col-lg-3 order-lg-3 col-md-3 col-sm-3 col-12">
        </aside>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- slick Slider JS-->
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="js/osahan.js"></script>
<!-- 검색결과 표시 script -->
<script src="js/calendar.js"></script>
<!-- 달력 표시 script -->
<script src="js/matchBoard.js"></script>
</body>
</html>