<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link rel="icon" type="image/png" href="../img/fav.png">
    <title> 매치 상세보기 </title>
    <!-- Calendar style for this template -->
    <link rel="stylesheet" href="/css/calendar.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick-theme.min.css"/>
    <!-- Feather Icon-->
    <link href="/vendor/icons/feather.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- jquery script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/navBar.js"></script>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand navbar-dark bg-dark osahan-nav-top p-0">
    <div class="container" >
        <a class="navbar-brand mr-2" href="/matchBoard"><img src="../img/logo.svg" alt="">
        </a>
        <ul class="navbar-nav ml-auto d-flex align-items-center">

            <a class="nav-link" href="/insertMatchBoard"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">매치등록</span></a>
            <a class="nav-link" href="/matchBoard"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">매치검색</span></a>
            <a class="nav-link" href="../listClubAll3.html"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">동호회검색</span></a>
            <a class="nav-link" href="/insertClub"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">동호회생성</span></a>
            <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
                <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-profile rounded-circle" src="../img/p13.png">
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                    <div class="p-3 d-flex align-items-center">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="../img/user.png" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate" id="loginnickname"></div>
                            <div class="small text-gray-500" id="loginid" ></div>

                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../edit-profile.html"><i class="feather-edit mr-1"></i> 프로필 변경</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout"><i class="feather-log-out mr-1"></i> Logout</a>
                </div>
            </li>

        </ul>
    </div>
</nav>
<div class="py-4">
    <div class="row">
        <main class="col order-xl-2 col-lg-6 order-lg-1 col-md-6 col-sm-6 col-12">
            <div class="border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h3 class="m-0 font-weight-bold" id="pageTitle"></h3>
                </div>
                <div id="matchInfoContainer">

                </div>

            </div>

            <!-- 경기정보 -->
            <input type="hidden" th:value="${mbNo}" id="mbNo">
            <div class="border rounded bg-white mb-3">
                <div id="matchOfferContainer">
                    <label class="form-label font-weight-bold mt-2 pl-2">
                        <h5 class="font-weight-bold">경기정보</h5>
                        <span class="text-danger"></span>
                    </label>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" width="20%">항목</th>
                                <th scope="col">내용</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="mbDate">
                                <th scope="row">경기일</th>
                            </tr>
                            <tr id="mbType">
                                <th scope="row">종목</th>
                            </tr>
                            <tr id="mbLoc">
                                <th scope="row">지역</th>
                            </tr>
                            <tr id="mbStadium">
                                <th scope="row">경기장</th>
                            </tr>
                            <tr id="mbFee">
                                <th scope="row">참가비</th>
                            </tr>
                            <tr id="homeUcolor">
                                <th scope="row" >유니폼 색상</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End 경기정보 -->
                <!-- 스코어입력 -->
                <div class="d-flex justify-content-end mb-3" id="scoreInput">

                </div>
                <!-- End 스코어입력 -->

            </div>
        </main>

        <aside class="col col-xl-3 order-xl-1 col-lg-3 order-lg-2 col-md-3 col-sm-3 col-12">
        </aside>
        <aside class="col col-xl-3 order-xl-3 col-lg-3 order-lg-3 col-md-3 col-sm-3 col-12">
        </aside>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- slick Slider JS-->
<script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/osahan.js"></script>
<!-- 매치정보 표시 script -->
<script src="/js/matchDetailME.js"></script>
</body>
</html>