<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <meta name="_csrf_header" th:content="${_csrf.headerName}">
      <meta name="_csrf" th:content="${_csrf.token}">
      <link rel="icon" type="image/png" href="/img/fav.png">
      <title>매치신청</title>
      <!-- Slick Slider -->
      <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="/vendor/slick/slick-theme.min.css"/>
      <!-- Feather Icon-->
      <link href="/vendor/icons/feather.css" rel="stylesheet" type="text/css">
      <!-- Bootstrap core CSS -->
      <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="/css/style.css" rel="stylesheet">
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="/js/offerMatch.js"></script>
      <script src="/js/matchDetail.js"></script>
      <script src="js/navBar.js"></script>

   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand navbar-dark bg-dark osahan-nav-top p-0">
         <div class="container" >
            <a class="navbar-brand mr-2" href="/matchBoard"><img src="img/logo.svg" alt="">
            </a>
            <ul class="navbar-nav ml-auto d-flex align-items-center">

               <a class="nav-link" href="/insertMatchBoard"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">매치등록</span></a>
               <a class="nav-link" href="/matchBoard"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">매치검색</span></a>
               <a class="nav-link" href="listClubAll3.html"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">동호회검색</span></a>
               <a class="nav-link" href="/insertClub"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">동호회생성</span></a>
               <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
                  <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <img class="img-profile rounded-circle" src="img/p13.png">
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow-sm">
                     <div class="p-3 d-flex align-items-center">
                        <div class="dropdown-list-image mr-3">
                           <img class="rounded-circle" src="img/user.png" alt="">
                           <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                           <div class="text-truncate" id="loginnickname"></div>
                           <div class="small text-gray-500" id="loginid" ></div>

                        </div>
                     </div>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="edit-profile.html"><i class="feather-edit mr-1"></i> 프로필 변경</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/logout"><i class="feather-log-out mr-1"></i> Logout</a>
                  </div>
               </li>

            </ul>
         </div>
      </nav>
      <div class="py-4">
         <div class="container">
            <div class="row">
               <!-- Main Content -->
               <main class="col col-xl-8 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                  <div class="border rounded bg-white mb-3">
                     <div class="box-title border-bottom p-3">
                        <h3 class="m-0 font-weight-normal">매치신청</h3>
                     </div>
                     <div class="box-body p-3">
                        <table class="table">
                           <thead class="thead-dark">
                           <tr>
                              <th scope="col" width="20%">항목</th>
                              <th scope="col">내용</th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr id="mbDate">
                              <th scope="row">경기일</th>
                           </tr>
                           <tr id="mbType">
                              <th scope="row">종목</th>
                           </tr>
                           <tr id="mbLoc">
                              <th scope="row">지역</th>
                           </tr>
                           <tr id="mbStadium">
                              <th scope="row">경기장</th>
                           </tr>
                           <tr id="mbFee">
                              <th scope="row">참가비</th>
                           </tr>
                           <tr id="homeUcolor">
                              <th scope="row" >유니폼 색상</th>
                           </tr>
                           <tr id="homeLevel">
                              <th scope="row">실력</th>
                           </tr>
                           <tr id="homeSay">
                              <th scope="row">하고 싶은말</th>
                           </tr>
                           </tbody>
                        </table>
                        <hr>
                        <form class="js-validate" novalidate="novalidate">

                           <!-- Input 인원수선택 -->
                           <div class="row">
                              <div class="col-sm-6 mb-2">
                                 <div class="js-form-message">
                                    <label class="form-label font-weight-bold">
                                       경기인원
                                       <span class="text-danger">*</span>
                                    </label>
                                    <div class="form-group">
                                       <select class="custom-select">
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                          <option value="7">7</option>
                                          <option value="8">8</option>
                                          <option value="9">9</option>
                                          <option value="10">10</option>
                                          <option value="11">11</option>
                                          <option value="12">12</option>
                                          <option value="13">13</option>
                                          <option value="14">14</option>
                                          <option value="15">15</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <!-- End Input 인원수선택 -->

                              <!-- input 인원지정 -->
                              <div class="col-sm-6 mb-2">
                                 <div class="js-form-message">
                                    <label class="form-label">
                                       &nbsp;
                                       <span class="text-danger"></span>
                                    </label>
                                    <div class="form-group">
                                       <button type="button" class="btn btn-primary pl-4 pr-4 font-weight-bolder" data-toggle="modal" data-target="#memberPopup" id="selectMember"> 인원선택 </button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- End Input 인원지정 -->

                           <!-- Modal 인원지정 -->
                           <div class="modal fade" id="memberPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <h5 class="font-weight-bold" id="myModalLabel"> 참여인원선택 </h5>
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body" >
                                       <div class="row" id="memberList">
                                         <!-- 동적으로 삽입 -->
                                       </div>
                                    </div>
                                    <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal" id="saveMatchMember">저장</button>
                                       <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- End Modal 인원지정 -->

                           <div class="row">
                              <!-- input 유니폼색상 -->
                              <div class="col-sm-6 mb-2">
                                 <div class="js-form-message">
                                    <label class="form-label font-weight-bold">
                                       유니폼색상
                                       <span class="text-danger">*</span>
                                    </label>
                                    <div class="form-group">
                                       <input type="text" id="awayUcolor" class="form-control">
                                    </div>
                                 </div>
                              </div>
                              <!-- End input 유니폼색상 -->
                              <!-- input 실력 -->
                              <div class="col-sm-6 mb-2">
                                 <div class="js-form-message">
                                    <label class="form-label font-weight-bold">
                                       실력
                                       <span class="text-danger">*</span>
                                    </label>
                                    <div class="form-group">
                                       <input type="text" id="awayLevel" class="form-control">
                                       <small class="form-text text-muted"> ex) 상 중 하 </small>
                                    </div>
                                 </div>
                              </div>
                              <!-- End input 실력 -->
                           </div>

                           <div class="row">
                              <!-- input 하고싶은말 -->
                              <div class="col-sm-12 mb-2">
                                 <div class="js-form-message">
                                    <label id="nameLabel" class="form-label font-weight-bold">
                                       하고싶은말
                                       <span class="text-danger">*</span>
                                    </label>
                                    <div class="form-group">
                                       <textarea class="form-control" id="awaySay" rows="5"></textarea>
                                    </div>
                                 </div>
                              </div>
                              <!-- End input 하고싶은말 -->
                           </div>
                           <input type="hidden" th:value="${mbNo}" id="mbNo">
                        </form>
                     </div>
                  </div>
                  <div class="mb-3 text-right">
                     <a class="font-weight-bold btn btn-link rounded p-3" id="cancel"> &nbsp;&nbsp;&nbsp;&nbsp; 취소 &nbsp;&nbsp;&nbsp;&nbsp; </a>
                     <a class="font-weight-bold btn btn-primary rounded p-3" id="offerMatch"> &nbsp;&nbsp;&nbsp;&nbsp;  신청 &nbsp;&nbsp;&nbsp;&nbsp; </a>
                  </div>
               </main>
               <!-- End Main contents-->
               <aside class="col col-xl-2 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
               </aside>
               <aside class="col col-xl-2 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
               </aside>
            </div>
         </div>
      </div>
      <!-- Bootstrap core JavaScript -->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- slick Slider JS-->
      <script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="/js/osahan.js"></script>
   </body>
</html>
