<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<style>
   header {
      position: sticky;
      z-index: 1;
      padding-top: 15px;
      top: -15px;
   }

</style>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/insertMember.js"></script>


<script th:inline="javascript">
   /*<![CDATA[*/
   $(document).ready(function(){

      var errorMessage = /*[[${errorMessage}]]*/'default';

      if(errorMessage != null){
         alert(errorMessage);
      }
   });
   /*]]>*/
</script>

<script type="text/javascript">

   const autoHyphen = (target) => {
      target.value = target.value
              .replace(/[^0-9]/g, '')
              .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
   }


   let idCheck = /^[a-z_-]+[a-z0-9_-]{5,20}$/g; //	let idCheck = /[A-Za-z_-]{5,20}$/;	최소5자, 최대 10자의 문자
   let pwCheck = /^(?=.*[a-zA-Z]{1,11})(?=.*[0-9]{1,11}).{6,12}$/;	//	숫자, 영문 각 1개 이상, 11개 이하 사용하여 6자리 이상, 12자 이하로 입력
   let numberCheck = /^[0-9]{1,4}$/;	//	숫자만 입력해야하는 경우
   let hanguel = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힝]/;	//	한글테스트
   let nameCheck = /[가-힝]/; 	//	한글, 영어만
   let phoneCheck = /^\d{3}-\d{3,4}-\d{4}$/;
   let emailCheck = /^[a-zA-Z0-9+-\_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;


   function check(){


      if($('#id').val() == ''){
         alert("아이디는 필수입력값입니다.");
         return false;
      }

      if($('#pwd').val() == ''){
         alert("비밀번호는 필수입력값입니다.");
         return false;
      }

      if($('#pwd2').val() == ''){
         alert("비밀번호확인은 필수입력값입니다.");
         return false;
      }

      if($('#pwd2').val() != $('#pwd').val()){
         alert("비밀번호를 확인해주세요.");
         return false;
      }


      if($('#mName').val() == ''){
         alert("이름은 필수입력값입니다.");
         return false;
      }
      if($('#phone').val() == ''){
         alert("핸드폰번호는 필수입력값입니다.");
         return false;
      }

      if($('#email').val() == ''){
         alert("이메일은 필수입력값입니다.");
         return false;
      }
      if($('#nickname').val() == ''){
         alert("닉네임은 필수입력값입니다.");
         return false;
      }
      if($('#birth_date').val() == ''){
         alert("날짜를 선택해주세요");
         return false;
      }

      if($('#gender').val() == ''){
         alert("성별을 선택해주세요");
         return false;
      }

      if($('.redtext').text() != ''){
         alert("폼 양식에 맞춰 입력해주세요");
         return false;
      }

      // $('#birth_date').val().append('00:00:00');
      //
      // alert($('#birth_date').val())

      return true;

   };


   $(function (){





      $('#id').keyup(function(){

         if(hanguel.test($('#id').val())){
            $('#idcheck').attr('style','color:#B70000');
            $('#idcheck').text('5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.');
            return false;
         }
         else {
            $('#idcheck').empty();
         }

         if($('#id').val().toString().length < 5){
            $('#idcheck').attr('style','color:#B70000');
            $('#idcheck').text('5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.');
            //$('#idcheck').removeAttr('class');	//	idSub의 class속성을 지운다.
            return false;
         } else if($('#id').val().toString().length > 20){
            $('#idcheck').attr('style','color:#B70000');
            $('#idcheck').text('5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.');
            //$('#idcheck').removeAttr('class');	//	idSub의 class속성을 지운다.
            return false;
         }

         else {
            $('#idcheck').empty();
         }


      });

      $('#pwd').keyup(function() {		//	비밀번호
         if ($('#pwd').val() != ''){
            if(!pwCheck.test($('#pwd').val())){
               $('#pwdcheck1').attr('style','color:#B70000');
               $('#pwdcheck1').text('6~12자 영문과 숫자를 사용하세요.');
               return false;
            } else {
               $('#pwdcheck1').empty();
            }
         }
      });
      $('#pwd2').keyup(function() {		//	비밀번호
         if ($('#pwd2').val() != $('#pwd').val()){
            $('#pwdcheck2').attr('style','color:#B70000');
            $('#pwdcheck2').text('비밀번호와 값이 다릅니다');
            return false;
         } else {
            $('#pwdcheck2').empty();
         }

      });

      $('#mName').keyup(function() {		//	이름
         if ($('#mName').val() != ''){
            if(!nameCheck.test($('#mName').val())){
               $('#mnamecheck').attr('style','color:#B70000');
               $('#mnamecheck').text('이름은 한글만 사용가능합니다.');
               return false;
            } else {
               $('#mnamecheck').empty();
            }
         }
      });

      $('#email').keyup(function() {		//	이메일
         if ($('#email').val() != ''){
            if(!emailCheck.test($('#email').val())){
               $('#emailcheck').attr('style','color:#B70000');
               $('#emailcheck').text('이메일양식을 지켜주세요.');
               return false;
            } else {
               $('#emailcheck').empty();
            }
         }
      });

      $('#phone').keyup(function() {		//	핸드폰
         if ($('#phone').val() != ''){
            if(!phoneCheck.test($('#phone').val())){
               $('#phonecheck').attr('style','color:#B70000');
               $('#phonecheck').text('핸드폰번호 11자리를 입력해주세요');
               return false;
            } else {
               $('#phonecheck').empty();
            }
         }
      });

      $('#nickname').keyup(function() {		//	닉네임
         if ($('#nickname').val() != ''){
            if(!nameCheck.test($('#nickname').val())){
               $('#nicknamecheck').attr('style','color:#B70000');
               $('#nicknamecheck').text('닉네임은 한글만 사용가능합니다.');
               return false;
            } else {
               $('#nicknamecheck').empty();
            }
         }
      });



   });






</script>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" type="image/png" href="img/fav.png">
   <title>Olink - Job Portal & Social Network HTML</title>

   <!-- Slick Slider -->

   <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css"/>
   <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css"/>

   <link href="vendor/icons/feather.css" rel="stylesheet" type="text/css">

   <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

   <link href="css/style.css" rel="stylesheet">
</head>


<header>
   <nav class="navbar navbar-expand navbar-dark bg-dark osahan-nav-top p-0">
      <div class="container" >
         <a class="navbar-brand mr-2" href="index.html"><img src="img/logo.svg" alt="">
         </a>
         <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item">
               <a class="nav-link" href="jobs.html"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">Jobs</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="connection.html"><i class="feather-users mr-2"></i><span class="d-none d-lg-inline">Connection</span></a>
            </li>
            <li class="nav-item dropdown mr-2">
               <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="feather-file-text mr-2"></i><span class="d-none d-lg-inline">Pages</span>
               </a>

               <!-- Dropdown - User Information -->
               <div class="dropdown-menu dropdown-menu-right shadow-sm">
                  <a class="dropdown-item" href="jobs.html"><i class="feather-briefcase mr-1"></i> Jobs</a>
                  <a class="dropdown-item" href="profile.html"><i class="feather-user mr-1"></i> Profile</a>
                  <a class="dropdown-item" href="connection.html"><i class="feather-users mr-1"></i> Connection</a>
                  <a class="dropdown-item" href="company-profile.html"><i class="feather-user-plus mr-1"></i> Company Profile</a>
                  <a class="dropdown-item" href="job-profile.html"><i class="feather-globe mr-1"></i> Job Profile</a>
                  <a class="dropdown-item" href="messages.html"><i class="feather-message-circle mr-1"></i> Messages</a>
                  <a class="dropdown-item" href="notifications.html"><i class="feather-bell mr-1"></i> Notifications</a>
                  <a class="dropdown-item" href="not-found.html"><i class="feather-alert-triangle mr-1"></i> 404 Not Found</a>
                  <a class="dropdown-item" href="faq.html"><i class="feather-help-circle mr-1"></i> FAQ</a>
                  <a class="dropdown-item" href="terms.html"><i class="feather-book mr-1"></i> Terms</a>
                  <a class="dropdown-item" href="privacy.html"><i class="feather-list mr-1"></i> Privacy</a><a class="dropdown-item" href="blog.html"><i class="feather-book mr-1"></i> Blog</a>
                  <a class="dropdown-item" href="blog-single.html"><i class="feather-book-open mr-1"></i> Blog Single</a>
                  <a class="dropdown-item" href="contact.html"><i class="feather-mail mr-1"></i> Contact</a>
                  <a class="dropdown-item" href="pricing.html"><i class="feather-credit-card mr-1"></i> Pricing</a>
                  <a class="dropdown-item" href="maintence.html"><i class="feather-clock mr-1"></i> Maintence</a>
                  <a class="dropdown-item" href="coming-soon.html"><i class="feather-cloud mr-1"></i> Coming Soon</a>
                  <a class="dropdown-item" href="components.html"><i class="feather-list mr-1"></i> Components</a>
                  <a class="dropdown-item" href="sign-in.html"><i class="feather-log-in mr-1"></i> Sign In</a>
                  <a class="dropdown-item" href="sign-up.html"><i class="feather-lock mr-1"></i> Sign Up</a>
               </div>
            </li>
            <!--    회원가입 , 로그인 페이지에만 login 아니면 logout   -->
            <a class="nav-link" href="/insertMember"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">회원가입</span></a>
            <a class="nav-link" href="/login"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">로그인</span></a>
            <!-- Nav Item - User Information -->
            <!-- 로그인페이지에서는 미사용 -->
<!--            <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">-->
<!--               <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                  <img class="img-profile rounded-circle" src="img/p13.png">-->
<!--               </a>-->
<!--                  //Dropdown - User Information-->
<!--               <div class="dropdown-menu dropdown-menu-right shadow-sm">-->
<!--                  <div class="p-3 d-flex align-items-center">-->
<!--                     <div class="dropdown-list-image mr-3">-->
<!--                        <img class="rounded-circle" src="img/user.png" alt="">-->
<!--                        <div class="status-indicator bg-success"></div>-->
<!--                     </div>-->
<!--                     <div class="font-weight-bold">-->
<!--                        <div class="text-truncate">Gurdeep Osahan</div>-->
<!--                        <div class="small text-gray-500">UI/UX Designer</div>-->
<!--                     </div>-->
<!--                  </div>-->
<!--                  <div class="dropdown-divider"></div>-->
<!--                  <a class="dropdown-item" href="profile.html"><i class="feather-edit mr-1"></i> My Account</a>-->
<!--                  <a class="dropdown-item" href="insertMatchBoard.html"><i class="feather-user mr-1"></i> Edit Profile</a>-->
<!--                  <div class="dropdown-divider"></div>-->
<!--                  <a class="dropdown-item" href="sign-in.html"><i class="feather-log-out mr-1"></i> Logout</a>-->
<!--               </div>-->
<!--            </li>-->

         </ul>
      </div>
   </nav>
</header>

<body>
<div class="bg-white" style="height: 1020px;">
   <div class="container">
      <div class="row justify-content-center align-items-center d-flex vh-100">
         <div class="col-md-4 mx-auto">
            <div class="osahan-login py-4">
               <div class="text-center mb-4">
                  <a href="index.html"><img src="img/logo.svg" alt=""></a>
                  <h5 class="font-weight-bold mt-3">회원가입</h5>
               </div>
               <form action="/insertMember" id="submit" method="post"  th:object="${memberDTO}" onsubmit="return check();">
                  <div class="form-row">
                     <div class="col">
                        <div class="form-group">
                           <label th:for="id" class="mb-1">아이디</label>
                           <div class="position-relative icon-form-control">
                              <i class="feather-user position-absolute"></i>
                              <input type="text" th:field="*{id}" class="form-control" placeholder="아이디를 입력해주세요">
                           </div>
                           <p id="idcheck" class="redtext"></p>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label th:for="pwd">비밀번호</label>
                     <div class="position-relative icon-form-control">
                        <i class="feather-unlock position-absolute"></i>
                        <input type="password" th:field="*{pwd}" class="form-control" placeholder="비밀번호 입력">

                     </div>
                     <p id="pwdcheck1" class="redtext"></p>
                  </div>

                  <div class="form-group">
                     <label>비밀번호 확인</label>
                     <div class="position-relative icon-form-control">
                        <i class="feather-unlock position-absolute"></i>
                        <input type="password" id="pwd2" name="pwd2" class="form-control" placeholder="비밀번호 확인">

                     </div>
                     <p id="pwdcheck2" class="redtext"></p>
                  </div>

                  <div class="form-group">
                     <label th:for="mName">이름</label>
                     <div class="position-relative icon-form-control">
                        <i class="feather-user position-absolute"></i>
                        <input type="text" th:field="*{mName}" class="form-control" placeholder="이름을 입력해주세요">

                     </div>
                     <p id="mnamecheck" class="redtext"></p>
                  </div>

                  <div class="form-group">
                     <label th:for="phone">핸드폰번호</label>
                     <div class="position-relative icon-form-control">
                        <i class="feather-phone position-absolute"></i>
                        <input type="text" th:field="*{phone}" class="form-control" placeholder="핸드폰번호 입력" oninput="autoHyphen(this)" maxlength="13">

                     </div>
                     <p id="phonecheck" class="redtext"></p>
                  </div>

                  <div class="form-group">
                     <label class="mb-1">Email</label>
                     <div class="position-relative icon-form-control">
                        <i class="feather-at-sign position-absolute"></i>
                        <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력해주세요">

                     </div>
                     <p id="emailcheck" class="redtext"></p>
                  </div>
                  <div class="form-group">
                     <label th:for="nickname">닉네임</label>
                     <div class="position-relative icon-form-control">
                        <i class="feather-user position-absolute"></i>
                        <input type="text" th:field="*{nickname}" class="form-control" placeholder="닉네임 입력">

                     </div>
                     <p id="nicknamecheck" class="redtext"></p>
                  </div>
                  <div class="form-group">
                     <label th:for="birth_date">생년월일</label>
                     <div class="position-relative icon-form-control">
                        <i class="feather-calendar position-absolute"></i>
                        <input type="date"  th:field="*{birth_date}" class="form-control">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6 mb-2">
                        <div class="js-form-message">
                           <label th:for="mLoc1" class="form-label font-weight-bold">
                              지역 선택
                              <span class="text-danger">*</span>
                           </label>
                           <div class="form-group">
                              <select class="custom-select" id="mLoc1" name="mLoc1">
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 mb-2">
                        <div class="js-form-message">
                           <label th:for="mLoc2" class="form-label font-weight-bold">
                              세부지역 선택
                              <span class="text-danger">*</span>
                           </label>
                           <div class="form-group">
                              <select class="custom-select" id="mLoc2" name="mLoc2">

                              </select>
                           </div>
                        </div>
                     </div>
                  </div>


                  <div class="form-group">
                     <label th:for="gender">성별</label>
                     <select th:field="*{gender}" class="form-control" th:value="${gender}">
                        <option th:value="남성" selected>남성</option>
                        <option th:value="여성">여성</option>
                     </select>
                  </div>

                  <div class="form-group">

                     <label th:for="soccer">축구</label>
                     <input type="checkbox" name="soccer" value='1' id="soccer"/>
                     <input type="hidden" name="soccer" value='0' id="soccer_hidden"/>
                     <label for="soccer" class="form-check-label"></label>


                     <label th:for="footsal">풋살</label>
                     <input type="checkbox" name="footsal" value='1' id="footsal"/>
                     <input type="hidden" name="footsal" value='0' id="footsal_hidden"/>
                     <label for="footsal" class="form-check-label"></label>


                     <label th:for="bascketball">야구</label>
                     <input type="checkbox" name="bascketball" value='1' id="bascketball"/>
                     <input type="hidden" name="bascketball" value='0' id="bascketball_hidden"/>
                     <label for="bascketball" class="form-check-label"></label>


                     <label th:for="footvalleyball">족구</label>
                     <input type="checkbox" name="footvalleyball" value='1' id="footvalleyball"/>
                     <input type="hidden" name="footvalleyball" value='0' id="footvalleyball_hidden"/>
                     <label for="footvalleyball" class="form-check-label"></label>
                  </div>

                  <button class="btn btn-primary btn-block text-uppercase" type="submit"> Agree & Join </button>

                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
               </form>

               <div class="py-3 d-flex align-item-center">
                  <a href="forgot-password.html">Forgot password?</a>
                  <span class="ml-auto"> Already on Olink? <a class="font-weight-bold" href="sign-in.html">Sign in</a></span>
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- slick Slider JS-->
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="js/osahan.js"></script>
</body>
</html>
