<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" href="img/fav.png">
      <title>동호회 검색</title>
      <!-- Slick Slider -->
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css"/>
      <!-- Feather Icon-->
      <link href="vendor/icons/feather.css" rel="stylesheet" type="text/css">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="css/style.css" rel="stylesheet">
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      
      <script th:inline="javascript">
      	$(function(){
      		var totalRecords=1;		//전체레코드 수
      		var totalPage=1;		//전체페이지 수	
      		var pageSize=3;			//한화면에 보여줄 레코드 수
      		var pageGroup = 2;		//한화면에 보여줄 페이지 수
      		
     		let acName=""; 	//시 도 지역 초기 값
      		let ctype="축구";  		//종목 초기 값
      		let acName2=""; 	//도 구 지역 초기 값
      		let searchText="";

      		var listdata; 			//전체 동호회 정보를 담는 json
      		var span;				// 페이지 버튼
      		var startPage;
      		var endPage;

           //추천 클럽
      		var recommendClub =$("#recommendClub");
      		function recommendClubFunc(data){
               if (data.cimg===null){
                  data.cimg="noimageClub.png";
               }
          		recommendClub.append($("<div></div>").addClass("box shadow-sm rounded bg-white mb-1 blog-card border-0")
                        .append($("<div></div>").css({"width":"100%", "height":"130px", "cursor":"pointer"}).attr({"id":"clubListSingle","cNo": data.cno})
                        .append("<img src='/display?fileName="+data.cimg+"' style='width: 100%;height:110px' >").addClass("card-img-top")
          	      		.append($("<div></div>").attr({'id':"mainData", "style":"display:inline-block"})
	          	      		.append($("<h3></h3>").attr('id',"recommendClubCname").html(data.cname))
	          	      		.append($("<ul></ul>").attr('id', "recommendClubLoc1").html(data.cloc1))
	          	      		.append($("<p></p>").attr('id','recommendClubIntro').html(data.cintro))))
          				)
      		}

           let currentid = 'null'; //로그인 한 id
           $.ajax({
              url: "/loginMemberID",
              async: false,
              success: function (data) {
                 currentid = data
                 console.log("----")
                 console.log(currentid)
              }
           });

            $.ajax({
                url: "/loginMemberNickname",
                async: false,
                success: function (data) {
                    currentnickname = data
                    console.log("----")
                    console.log(currentnickname)
                }
            });
           //console.log(currentid)
      		$.ajax({
      			url:"/listRecommendClub",
                data:{"currentid": currentid},
      			success:function(data){
                     console.log("이게먼저?")
      				count = 1;
      				if (data['content'].length==0){
                         console.log("******")
      					$.ajax({
      						url:"/listAllClub",
      						success:function(data){
      							$.each(data,function(){
      								console.log(data)
	      							if(count===3){
	              						return false
	              					}
	      							recommendClubFunc(this)
	              					count++;
      							})
      						}
      					})
      				}else{
      					$.each(data['content'],function(){
                              if(count===3){
                                 return false
                              }
          					console.log(this.id);
          					console.log(this.cname);
          					console.log(this.cloc1);
          					console.log(this.cloc2);
          					console.log(this.ctype);
          					console.log(this.cimg);
          					console.log(this.cintro);
          					recommendClubFunc(this)
          					count++;
          					
          				})
      				}
      			}
      		})
      		
      		function initPrint(){
      			$.ajax({
          			url:"/listClubAll3",
          			data : {
    					cType : ctype,
    					cloc1 : acName,
    					cloc2 : acName2,
                        searchText : searchText
    				},
          			success:function(data){
          				console.log(acName2)
          				listdata = data['content'];
          				console.log(data);
          				totalRecords = data.numberOfElements;
          	 			totalPage =  Math.ceil( totalRecords/pageSize );

          				//초기화 값으로 1페이지를 먼저 보여줌
          				printPage(1); // 단일 페이지 당 보여 줄 레코드를 10개 출력
          				printPageNumber(1); //1~10, 11~20 페이지번호를 출력하는 것(10개 출력)
          			}
          		});	
      		}
      		
      		//동호회 리스트 출력
      		initPrint();

           //동호회 리스트 클릭 시
           $(document).on("click", "#clubListSingle", function (){
               location.href="/clubMain?cNo=" + $(this).attr("cNo");//현재 클릭한 cNo를 담고 있음
           })
            // 동호회 리스트 동적 노드 생성
            function listAppend(data){
               if (data.cimg===null){
                  data.cimg="noimageClub.png";
               }
      			$("#clubList").append($("<div></div>").addClass("col-lg-4 col-md-4").css("cursor","pointer")
          					.append($("<div></div>").addClass("box shadow-sm rounded bg-white mb-3 blog-card border-0").attr({"id":"clubListSingle","cNo": data.cno})
          	      					.append($("<a></a>")
                                    .append($("<div></div>").css({"width":"100%", "height":"96px"})
                                    .append("<img src='/display?fileName="+data.cimg+"' style='width: 100%;height:96px'>").addClass("card-img-top"))
          	      					//.append($("<img></img>").addClass("card-img-top").attr("src","img/blog/7.png"))
          	      					.append($("<div></div>").addClass("card-body")
          	      					.append($("<span></span>").addClass("badge badge-success").html(data.ctype))
          	      					.append($("<h6></h6>").addClass("text-dark").html(data.cname))
          	      					.append($("<p></p>").addClass("mb-0").html(data.cintro)))
          	      					.append($("<div></div>").addClass("card-footer border-0")
          	      					.append($("<p></p>").addClass("mb-0")
          	      					//.append($("<img></img>").addClass("rounded-circle").attr("src","img/user/3.jpg"))
          	      					.append($("<strong></strong>").html(data.cloc1))
          	      					.append($("<strong></strong>").html(" "+ data.cloc2))
          	      					)
          	      					)
          	      					)));
            }
            
            //페이지 번호 출력
            function printPageNumber(pageNUM){
        		startPage = Math.floor((pageNUM-1)/pageGroup) * pageGroup  + 1 ; 	
        		endPage = startPage + pageGroup - 1;
        		
        		if(endPage > totalPage){
        			endPage = totalPage;
        		}

        		if(startPage > 1){
        			span = $("<a></a>").addClass("pageing").addClass("page-link").html("Previous");
        			$(span).attr({
        				"page":startPage - 1,
        				"style":"display:inline-block",
        			})
        			$("#pageNumberMain").append(span);
        		}
        		
        		for(i = startPage; i<=endPage ; i++){
        			span = $("<a></a>").addClass("pageing").addClass("page-link").html(i);
        			
        			$(span)
        			.attr({	"page":i,
        					"style":"display:inline-block"
        			});
        			$("#pageNumberMain").append(span);		

        		}
        		
        		//전체 totalpage 인 223 보다 현재 endPage가 작으면 다음 페이지가 있어야함
        		if(endPage < totalPage){
        			span = $("<a></a>").addClass("pageing").addClass("page-link").html("Next");
        			$(span).attr({
        				"page":endPage+1,
        				"style":"display:inline-block"
        			});
        			$("#pageNumberMain").append(span);
        		}
        	}
            
            //페이지에 레코드 출력
            function printPage(pageNUM){ 
            	$("#clubList").empty();
  				$("#pageNumberMain").empty();
        		var start = (pageNUM-1)*pageSize + 1; 
        		//console.log("pageNUM " + pageNUM);
        		var end = start + pageSize -1; 
        		
        		if(end > totalRecords){
        			end = totalRecords;
        		}
        		for(var i=start-1; i<end; i++){
        			
        			listAppend(listdata[i]);
        		}
        	}//end pringPage
        	
        	$.ajax({
                url:"/listCity",
                success: function(data){
                   $.each(data,function(){
                      let option = $("<option></option>");
                      option.html(this.acName);
                      option.attr("value",this.acName);
                      $("#cloc1").append(option);
                   });
                }
             });

           //시도 지역선택 초기 값에 따라 서울특별시 세부지역 표시
           $.ajax({
              url: "/listDistrict/서울",
              success: function (data) {
                 $.each(data, function () {
                    let option = $("<option></option>");
                    option.html(this.adName);
                    option.attr("value", this.adName);
                    $("#cLoc2").append(option);
                 });
              }
           });
        	
            //페이지 버튼 클릭
            $(document).on("click", ".pageing", function(){
        		var page = $(this).attr("page");
        		console.log("page ", page);
        		printPage(page);
        		printPageNumber(page);
        	});
            
			//종목 선택
			$(document).on("change", "input[name='cType']", function (){
       		 ctype = $(this).val();
      		  $.ajax({
					url:"/listClubAll3",
					data : {
						cType : ctype,
						cloc1 : acName,
						cloc2 : acName2,
                       searchText : searchText
					},
      			  success: function(data){
      				
      				console.log("LoadType");
      				$("#clubList").empty();
		  			$("#pageNumberMain").empty();
		  			
					$.each(data.content, function(){
						
      					listAppend(this);
      				})
      				initPrint();
      			  }
      		  })
       	  })
             //지역1 선택 - '시/도' 선택 시 '도/구' 받아옴
             $(document).on("change", "#cloc1", function (){
                 $("#cloc2").empty();
                 acName = $(this).val();
                 $.ajax({
                    url:"/listDistrict/"+acName,
                    success: function(data) {

                        let district = data;
                       // console.log("---")
                        //console.log(data)
                        $.each(district,function(){
                           let option = $("<option></option>");
                           option.html(this.adName);
                           option.attr("value",this.adName);
                           $("#cloc2").append(option);
                        });
                    	$.ajax({
                    		url:"/listClubAll3",
        					data : {
        						cType : ctype,
        						cloc1 : acName,
        						cloc2 : acName2,
                               searchText : searchText
        					},
        					 success: function(data){
        						 $("#clubList").empty();
        		      				$.each(data.content, function(){
        		      					listAppend(this);
        		      				})
        		      				initPrint();
        					 }
                    	})
                    }
                 });
              });   

             //지역2 선택
             $(document).on("change", "#cloc2", function (){
               acName2 = $(this).val();
          	   $.ajax({
          		   url:"/listClubAll3",
					 data : {
						cType : ctype,
						cloc1 : acName,
						cloc2 : acName2,
                        searchText : searchText
					},
          		   success: function(item) {
          			console.log("LoadLoc2");
          			initPrint();
          		   }
          	   });
             });
           $(document).on("click", "#searchBtn", function (){
              searchText = $("#searchText").val();
              console.log(searchText)
              $.ajax({
                 url:"/listClubAll3",
                 data : {
                    cType : ctype,
                    cloc1 : acName,
                    cloc2 : acName2,
                    searchText : searchText
                 },
                 success: function(item) {
                    initPrint();
                 }
              })
           })
      	})
      </script>
   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand navbar-dark bg-dark osahan-nav-top p-0">
         <div class="container" >
            <a class="navbar-brand mr-2" href="index.html"><img src="img/logo.svg" alt="">
            </a>
            <ul class="navbar-nav ml-auto d-flex align-items-center">

               <a class="nav-link" href="/insertMatch"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">매치등록</span></a>
               <a class="nav-link" href="/matchBoard"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">매치검색</span></a>
               <!--    회원가입 , 로그인 페이지에만 login 아니면 logout   -->
               <a class="nav-link" href="listClubAll3.html"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">동호회검색</span></a>
               <a class="nav-link" href="/insertClub"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">동호회생성</span></a>

               <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
                  <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <img class="img-profile rounded-circle" src="img/p13.png">
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow-sm">
                     <div class="p-3 d-flex align-items-center">
                        <div class="dropdown-list-image mr-3">
                           <img class="rounded-circle" src="img/user.png" alt="">
                           <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                           <div class="text-truncate" id="loginnickname"></div>
                           <div class="small text-gray-500" id="loginid" ></div>

                        </div>
                     </div>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="edit-profile.html"><i class="feather-edit mr-1"></i> 프로필 변경</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/logout"><i class="feather-log-out mr-1"></i> Logout</a>
                  </div>
               </li>

            </ul>
         </div>
      </nav>
      <div class="py-2 bg-light">
         <div class="container">
            <div class="row">
               <div class="col-md-12 mx-auto"  style="padding-right:90px">
				<div class="movie" id="recommendClub" style="display:inline-block; margin:40px;  margin-left: 80px" >
				</div>
				<div style="float:right; border:solid 1px; padding:20px; margin:20px; margin-right: 10px">
					<form method="GET" th:action="@{/listClubAll3}">
							<!-- 라디오버튼   -->
							<div data-role="fieldcontain" >
								<fieldset data-role="controlgroup" data-type="horizontal">
									<legend>종목을 선택하세요 </legend>
									
									<input type="radio" name="cType" id="soccer" value="축구" checked="checked" />
										<label for="soccer">축구</label>
									<input type="radio" name="cType" id="footVolleyball" value="족구" />
										<label for="footVolleyball">족구</label>
									<input type="radio" name="cType" id="futsal" value="풋살" />
										<label for="futsal">풋살</label>
									<input type="radio" name="cType" id="basketball" value="농구" />
										<label for="basketball">농구</label>
								</fieldset>
							</div>
						<hr>
						
							<div>
								<legend> 지역을 선택하세요  </legend>
								<label for="validationCustom01">시/도</label>
								<select style="width:100px;" class="custom-select" id="cloc1" name="cloc1">
								   <option selected=""   th:value="인천시" th:text="인천시" ></option>
								</select>
								<div class="invalid-feedback">
								   Please select a valid state.
								</div>
								
								<label for="validationCustom02">도 / 구</label>
								<select style="width:100px;" class="custom-select" id="cloc2" name="cloc2">
								   <option selected="" th:value="연수구" th:text="연수구"  ></option>
								</select>
								<div class="invalid-feedback">
								   Please select a valid state.
								</div>
							</div>
							<hr>
							<!--키워드 검색 -->
							<span>
								<legend> 검색 할 키워드를 입력하세요  </legend>
								<input type="text" id="searchText" name="searchText" style="width:200px;display:inline-block" class="form-control" placeholder="키워드 입력" >
							</span>
							<span>
							 	<button type="button" style="width:100px"class="btn btn-primary mb-3" id="searchBtn">검색</button>
							</span>
						</form>
					</div>

               </div>
            </div>
         </div>
      </div>

      <div class="py-5">
         <div class="container" style="padding-left:100px;padding-right:100px">
            <div class="row">
			<div class="col-lg-12 col-md-12">

<!--		&lt;!&ndash; 개수 만큼 띄우기 버튼&ndash;&gt;-->
<!--			 <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                  Action-->
<!--                  </button>-->
<!--                  <div class="dropdown-menu" style="">-->
<!--                     <a class="dropdown-item" href="#">3개씩 보기</a>-->
<!--                     <a class="dropdown-item" href="#">6개씩 보기</a>-->
<!--                     <a class="dropdown-item" href="#">9개씩 보기</a>-->
<!--                     <div class="dropdown-divider"></div>-->
<!--                     <a class="dropdown-item" href="#">Separated link</a>-->
<!--                  </div>-->
<!--			 </div>-->
			 
			<!-- 동호회 리스트 화면에 띄우기 -->
			<div class="row" id="clubList"> 
			
            </div>
		
<nav class="mt-5">
  <ul class="pagination justify-content-center" >
    
    <!--   페이지 번호 -->
    <li class="page-item" id="pageNumberMain">
	    	<a class="page-link" href="#" 
	    		th:text="${i}" 
	    		th:href="@{/listClubAll3(page=${i-1})}">
	    	</a>
    </li>
  </ul>
</nav>
			
			</div>
			</div>
         </div>
      </div>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- slick Slider JS-->
      <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="js/osahan.js"></script>
   </body>
</html>
